@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFECCC;
  --foreground: #000;
  --primary: #FA4D58;
  --secondary: #B63841;
  --pink: #FFC9D6;
  --blue: #4D72FA;
  --yellow: #F5B349;
  --primary-highlight: #FFDCDC;
  --black-highlight: #E1E1E1;
  --primary-black-highlight: #E4C3C3;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000;
    --foreground: #FFECCC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
